*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    margin:0;
    padding:0;
    height:3000px;
    border:solid rgb(186, 226, 244) 30px;
}

.logo {
    color:rgb(2, 26, 26);
    font-family: New Amsterdam;
}

.logo span:first-of-type{
    color: rgb(90, 96, 96);
}

.mobile-sub-title {
    display: none;
}

header {
    width: 100%;
    height:20vh;
    background: linear-gradient(to right, rgb(204, 229, 236 ), 10%, white);
    position:sticky;
    top:0;
}

.header-bottom span::after{
    content: "/";
}

.header-top{
    display: flex;
    align-items: center;
    padding-left: 2vw;
    height: 50%;
    font-size: 5vmax;
    justify-content: space-between;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    gap:10px;
    padding-left: 2vw;
    padding-right: 2vw;
    font-size: 2vh;
    height: 50%;
    background-color: azure;
    }

.header-bottom div {
    font-family: "Jersey 10", sans-serif;
    font-weight: 100;
    font-size: 3vh;
}

.hamburger {
    margin-right:2vw;
    display: none;
}

main {
    height:calc(100% - 20vh);
    background-color: azure;
}


@media screen and (max-width: 500px) {

    body {
       border:solid rgb(186, 226, 244)  4px;
       height: 100vh;
    }

    .mobile-sub-title {
        display: block;
        font-size: 15px;
        font-family: "Jersey 10", sans-serif;
    }

    .hamburger {
        display: block;
        font-size: 30px;
        transition: transform 1s ease; 
    }

    .hamburger:hover {
        transform: scale(1.5);
        cursor: pointer;
    }

    .header-bottom.active {
        display: block;
    }

    .header-bottom.active .larger-sub-title {
        display: none;
    }

    main{
        height:calc(100% - 8vh);
    }

    .header-bottom {
        display: none;
    }

    header {
        height: fit-content;
    }
}
    